* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif
}

.sign-in-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(120deg, #010289 2%, #1d30d5);
    box-shadow: 1px 2px 3px 1px black;
    width: 250px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    padding-bottom: 15px;
}

input {
    font-size: 14px;
}

.input-field {
    width: 100%;
    border: none;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    outline: none;
}

.input-field:focus {
    border: 1px solid aqua;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.row:first-child {
    margin-top: 0px;
}

.row:last-child {
    margin-bottom: 0px;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: red;
}

.btn {
    border: none;
    color: white;
    width: 90px;
    height: 29px;
    border-radius: 25px;
    background-color: #0088ff;
}

.btn:hover,
.btn:focus {
    background-color: #00a2ff;
}