@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

.page-wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    padding-bottom: 50px;
    box-shadow: 0px 2px 15px 1px #0000001c;
}

.page-header {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    align-items: stretch;
    display: flex;
    justify-content: space-between;
}

.logo {
    align-items: center;
    display: flex;
    height: 100%;
    color: #7f7f7f;
    width: 50px;
    font-size: 36px;
}

.global-nav {
    display: flex;
    align-items: stretch;
}

.global-nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #868686;
    text-decoration: none;
    padding: 0 20px;
}

.global-nav__link:last-child {
    padding-right: 0;
}

.global-nav__link:hover {
    color: #ff65c2;
}

.global-nav__link_attention > span {
    background-color: #ff65c2;
    color: #ffffff;
    padding: 16px 23px;
    border-radius: 26px;
}

.banner {
    height: 70vh;
    max-height: 700px;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./assets/images/daniel-von-appen-258076@2x.jpg');
}

.banner__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.73;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner__content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.search {
    text-align: center;
    max-width: 800px;
}

.search__header {
    font-weight: 500;
    color: #FFF;
    font-size: 28px;
}

.banner__social-icons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.social-icon {
    width: 50px;
}

.social-icon > img {
    width: 100%;
    display: block;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    max-width: 500px;
    margin: 0 auto;
}

.form__input {
    flex-basis: 80%;
    min-width: 80%;
    border: none;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    padding: 0 20px;
    color: #b5b5b5;
    font-size: 14px;
}

.form__control {
    flex-basis: 20%;
    min-width: 20%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #ff65c2;
    border: none;
    color: #FFF;
    outline: none;
    font-size: 14px;
}

.content {
    padding: 5%;
    height: 80vh;
    max-height: 700px;
    width: 100%;
    color: #797979;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info__header {
    margin: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 28px;
}

.info__description {
    width: 526px;
    height: 49px;
    font-size: 10px;
}

.info__services {
    display: flex;
}

.services__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    height: 200px;
    font-size: 10px;
}

.services__item__logo {
    display: flex;
    align-self: center;
    margin: 10px;
    border-radius: 7px;
    border: 5px solid #ff65c2;
    width: 50px;
    height: 50px;
}

.services__item__header {
    margin: 5px;
    font-size: 14px;
    color: #ff65c2;
}


.about {
    display: flex;
    padding: 2%;
    height: 90vh;
    max-height: 700px;
    width: 100%;
    background-color: #ffffff;
}

.about__info {
    line-height: 2em;
}

.about__photo {
    width: 539px;
    height: 477px;
}